<!DOCTYPE HTML>
<html>

<head>
  <title>У Озера</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Гостевой дом У Озера. Комфортабельные номера, конные прогулки, катание на лодке, рыбалка, мангал, тент, парковка." />
  <meta name="keywords" content="Улан-Удэ, Левый берег, Карьер, Водоём, отдых, Комфортабельный номер, конные прогулки, катание на лодке, рыбалка, мангал, тент, парковка" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  
  <link rel="stylesheet" type="text/css" href="/css/reset.css" />
  <link href="/css/colorbox.css" rel="stylesheet" media="screen">
  <link href="/css/bootstrap.css" rel="stylesheet" media="screen">
  <link href="/css/bootstrap-responsive.css" rel="stylesheet" media="screen">
  <link rel="stylesheet" type="text/css" href="/css/style.css" />

</head>
 
<body>
    <div id="wrap">
        <div class="container">
          
          
            <div class="page-header">
                <h1><a href="/index.html">Гостевой дом <span class="logo_colour">"У ОЗЕРА"</span></a></h1>
                <p class="description">Комфортабельные номера, конные прогулки, катание на лодке, рыбалка, мангал, тент, парковка</p>
                
                <ul id="menu" class="nav nav-tabs">
                  <li><a href="/index.html" ><i class="icon-home"></i> Главная</a></li>
                  <li><a href="#price"><i class="icon-list-alt"></i> Прайс-лист</a></li>
                  <li><a href="#form"><i class="icon-check"></i> Обратная связь</a></li>
                </ul>
                
                <ul id="images">
                  <li><a href="/images/Pic007b.jpg" class="gall"><img src="/images/Pic007.jpg" /></a></li>
                  <li><a href="/images/Pic002b.jpg" class="gall"><img src="/images/Pic002.jpg" /></a></li>
                  <li><a href="/images/Pic003b.jpg" class="gall"><img src="/images/Pic003.jpg" /></a></li>
                  <li><a href="/images/Pic004b.jpg" class="gall"><img src="/images/Pic004.jpg" /></a></li>
                  <li><a href="/images/Pic005b.jpg" class="gall"><img src="/images/Pic005.jpg" /></a></li>
                  <li><a href="/images/Pic006b.jpg" class="gall"><img src="/images/Pic006.jpg" /></a></li>
                </ul>
                
            </div>

          
            <div class="row">
                <div class="span9">
                    <div class="well">
                    {{content}} 
                    </div>
                </div>
                <div class="span3">
                      <h3>Новости</h3>
                      <h4>Запуск Internet сайта.</h4>
                      <h5>17 июля, 2013</h5>
                      <p>На нашем сайте будет подробная информация для наших гостей..<br /><a href="#">Читать всю новость..</a></p>
                      
                      <br/>
                      <br/>
                      
                      <a target="_blank" class="mrc__plugin_uber_like_button" href="http://connect.mail.ru/share" data-mrc-config="{'nc' : '1', 'cm' : '3', 'sz' : '20', 'st' : '1', 'tp' : 'mm'}">Нравится</a>
                      <script src="http://cdn.connect.mail.ru/js/loader.js" type="text/javascript" charset="UTF-8"></script>
                      
                      <br/>
                      
<!-- Yandex.Metrika informer -->
<a href="http://metrika.yandex.ru/stat/?id=21817432&amp;from=informer"
target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/21817432/2_1_40AE6BFF_208E4BFF_1_pageviews"
style="width:80px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры)" onclick="try{Ya.Metrika.informer({i:this,id:21817432,lang:'ru'});return false}catch(e){}"/></a>
<!-- /Yandex.Metrika informer -->

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter21817432 = new Ya.Metrika({id:21817432,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/21817432" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->


                </div>
            </div>
        
        
        </div>
        <div id="push"></div>
    </div>

    <div id="footer">
      <div class="container">
        Copyright &copy;, 2013
      </div>
    </div>


<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/jquery.colorbox-min.js"></script>
<script type="text/javascript" src="/js/bootstrap.min.js"></script>
<script>
  jQuery(function () {
    jQuery('a.colorbox').colorbox();
    jQuery('a.gall').colorbox({rel:'gal'});
  })
</script>  
</body>
</html>
