<!DOCTYPE HTML>
<html>

<head>
  <title>У Озера</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Гостевой дом У Озера. Комфортабельные номера, конные прогулки, катание на лодке, рыбалка, мангал, тент, парковка." />
  <meta name="keywords" content="Улан-Удэ, Левый берег, Карьер, Водоём, отдых, Комфортабельный номер, конные прогулки, катание на лодке, рыбалка, мангал, тент, парковка" />
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  
  <link rel="stylesheet" type="text/css" href="/css/reset.css" />
  <link href="/css/bootstrap.css" rel="stylesheet" media="screen">
  <link href="/css/bootstrap-responsive.css" rel="stylesheet" media="screen">
  <link rel="stylesheet" type="text/css" href="/css/style.css" />

</head>

<body>
    <div id="wrap">
        <div class="container">
          
          
            <div class="page-header">
                <h1><a href="/index.html">Гостевой дом <span class="logo_colour">"У ОЗЕРА"</span></a></h1>
                <p class="description">Комфортабельные номера, конные прогулки, катание на лодке, рыбалка, мангал, тент, парковка</p>
            </div>

          
            <div class="row">
                <div class="span9">
                    {{content}}
                </div>
                <div class="span3">
                      <h3>Новости</h3>
                      <h4>Запуск Internet сайта.</h4>
                      <h5>17 июля, 2013</h5>
                      <p>На нашем сайте будет подробная информация для наших гостей..<br /><a href="#">Читать всю новость..</a></p>
                </div>
            </div>
        
        
        </div>
        <div id="push"></div>
    </div>

    <div id="footer">
      <div class="container">
        Copyright &copy;, 2013
      </div>
    </div>


  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/js/bootstrap.min.js"></script>
  
</body>
</html>
